.create-user{
  height: 37px;
  width: 106px;
  border-radius: 2px;
  background-color: #00A0FF !important;
  color:#FFFFFF;
  border: none !important;
}

.cancel-link{
  color: #9B9EAC;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  cursor: pointer;
}

.create-user-modal{
    width: 90% !important;
}

.create-user-input{
  margin-bottom: 20px;
}